<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}"
      lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/css/login.css"/>
</head>

<div layout:fragment="content">
    <!-- login section -->
    <div class="col-12 text-center align-self-center py-5">
        <div class="section pb-5 pt-5 pt-sm-2 text-center">
            <h6 class="mb-0 pb-3"><span>Log In </span><span>Sign Up</span></h6>
            <input class="checkbox" type="checkbox" id="reg-log" name="reg-log"/>
            <label for="reg-log"></label>
            <div class="card-3d-wrap mx-auto">
                <div class="card-3d-wrapper">
                    <div class="card-front">
                        <div class="center-wrap">
                            <form action="/loginProcess" method="post">
                                <div class="section text-center">
                                    <h4 class="mb-4 pb-3">Log In</h4>
                                    <div class="form-group">
                                        <input type="text" name="username" class="form-style" placeholder="Your Id"
                                               id="username" autocomplete="off">
                                        <i class="input-icon uil uil-at"></i>
                                    </div>
                                    <div class="form-group mt-2">
                                        <input type="password" name="password" class="form-style"
                                               placeholder="Your Password" id="password" autocomplete="off">
                                        <i class="input-icon uil uil-lock-alt"></i>
                                    </div>
                                    <button type="submit" class="btn mt-4">Log In</button>
                                    <span>
                                        <div th:if="${error}">
                                            <p id="valid" class="mb-0 mt-4 text-center alert" th:text="${exception}"></p>
                                        </div>
                                    </span>
                                </div>
                            </form>

                        </div>
                    </div>
                    <div class="card-back">
                        <div class="center-wrap">
                            <form id="signupForm" method="post" action="/signup">
                                <div class="section text-center">
                                    <h4 class="mb-4 pb-3">Sign Up</h4>
                                    <div class="form-group">
                                        <div class="input-container">
                                            <input type="text" name="username" class="login-form-style" placeholder="Your Id" id="joinUsername" autocomplete="off">
                                                <img src="/images/checkDuplicateBtn.png" alt="중복확인" class="checkDuplicateBtn-img" id="checkDuplicateBtn" title="중복확인"/>
                                        </div>
                                        <div id="duplicateError" class="mb-0 mt-2 text-center alert"></div>
                                    </div>
                                    <div class="form-group mt-2">
                                        <input type="text" name="name" class="form-style"
                                               placeholder="Your Name" id="joinName" autocomplete="off">
                                        <i class="input-icon uil uil-user"></i>
                                    </div>
                                    <div class="form-group mt-2">
                                        <input type="email" name="email" class="form-style" placeholder="Your Email"
                                               id="joinEmail" autocomplete="off">
                                        <i class="input-icon uil uil-at"></i>
                                    </div>
                                    <div class="form-group mt-2">
                                        <input type="password" name="password" class="form-style"
                                               placeholder="Your Password" id="joinPassword" autocomplete="off">
                                        <i class="input-icon uil uil-lock-alt"></i>
                                    </div>
                                    <button type="submit" class="btn mt-4" id="signupBtn">Sign Up</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end login section -->
</div>
<th:block layout:fragment="script">
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function () {
        // 중복 확인 버튼 클릭 시
        $("#checkDuplicateBtn").click(function () {
            var username = $("#joinUsername").val();

            // 서버로 아이디 중복 확인 요청
            $.ajax({
                type: "GET",
                url: "/checkDuplicate",
                data: {username: username},
                success: function (result) {
                    // 결과에 따라 메시지 출력
                    if (result) {
                        $("#duplicateError").text("이미 사용 중인 ID입니다.");
                    } else {
                        $("#duplicateError").text("사용 가능한 ID입니다.");
                    }
                },
                error: function () {
                    console.error("Error during AJAX request");
                }
            });
        });
    });
</script>
</th:block>
